<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>YKSUI框架 - 需求管理</title>
    <script src="../jsLoad/code/load.js?20170503" include="../toph.html"></script>
    <!--加css-->
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox-title"><h5>国内仓各平台发货数据</h5></div>
    <div class="ibox-content">
    <form class="form-inline">
            <div class="form-group">
              <label>年度</label>
                <select class="form-control" data-placeholder="请选择">
                    <option value=""></option>
                    <option value="">2016年</option>
                    <option value="">2017年</option>
                </select>
            </div>
            <div class="form-group">
              <label>月份</label>
                <select class="form-control" data-placeholder="请选择">
                    <option value=""></option>
                    <option value="">12月</option>
                    <option value="">11月</option>
                    <option value="">10月</option>
                    <option value="">9月</option>
                    <option value="">8月</option>
                    <option value="">7月</option>
                    <option value="">6月</option>
                    <option value="">5月</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary add-space">查询</button>
            </div>
        </form>
        <div class="hr-line-dashed"></div>
        <h2 class="text-center bottom20">出口事业部5月份业绩目标汇总</h2>
        <table class="table table-bordered">
            <thead>
                <th>目标\平台</th>
                <th>eBay</th>
                <th>wish</th>
                <th>速卖通</th>
                <th>Lazada</th>
                <th>新平台</th>
                <th>B2B</th>
                <th>国内发货小计</th>
                <th>eBay美仓</th>
                <th>沃尔玛商城</th>
                <th>ebay英仓</th>
                <th>ebay德仓</th>
                <th>亚马逊一部</th>
                <th>亚马逊二部</th>
                <th>中澳专线&澳洲仓</th>
                <th>海外仓小计</th>
                <th>总计</th>
            </thead>
            <tbody>
            <tr>
                <td>目标销售额</td>
                <td>372.6</td>
                <td>248.1</td>
                <td>518.9</td>
                <td>74.4</td>
                <td>90.0</td>
                <td>100.2</td>
                <td><b class="text-info">1404.2</b></td>
                <td>429.3</td>
                <td>90.0</td>
                <td>112.0</td>
                <td>245.7</td>
                <td>450.0</td>
                <td>45.8</td>
                <td>145.3</td>
                <td><b class="text-info">1580.1</b></td>
                <td><b class="text-danger">3000</b></td>
            </tr>
            <tr>
                <td>目标利润</td>
                <td>372.6</td>
                <td>248.1</td>
                <td>518.9</td>
                <td>74.4</td>
                <td>90.0</td>
                <td>100.2</td>
                <td><b class="text-info">1404.2</b></td>
                <td>429.3</td>
                <td>90.0</td>
                <td>112.0</td>
                <td>245.7</td>
                <td>450.0</td>
                <td>45.8</td>
                <td>145.3</td>
                <td><b class="text-info">1580.1</b></td>
                <td><b class="text-danger">3000</b></td>
            </tr>

            </tbody>
        </table>

</div>

</div>
<script src="../jsLoad/code/load.js?20170503" include="../jsh.html"></script>

</body>
</html>
