<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.bi.dao.excel.OverseasCountryRateMapper">
  <resultMap id="BaseResultMap" type="com.yks.bi.dto.excel.OverseasCountryRate">
    <id column="country_abbreviation" jdbcType="VARCHAR" property="a_countryAbbreviation" />
    <result column="rate" jdbcType="DOUBLE" property="b_rate" />
  </resultMap>
  <sql id="Base_Column_List">
    country_abbreviation, rate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yks_overseas_country_rate
    where country_abbreviation = #{countryAbbreviation,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yks_overseas_country_rate
    where country_abbreviation = #{countryAbbreviation,jdbcType=VARCHAR}
  </delete>
  
   <!--批量新增  -->
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="list" >
     insert into yks_overseas_country_rate (country_abbreviation, rate)
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.a_countryAbbreviation,jdbcType=VARCHAR}, #{item.b_rate,jdbcType=DOUBLE})
    </foreach>
  </insert>
  
  <insert id="insert" parameterType="com.yks.bi.dto.excel.OverseasCountryRate">
    insert into yks_overseas_country_rate (country_abbreviation, rate)
    values (#{countryAbbreviation,jdbcType=VARCHAR}, #{rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.yks.bi.dto.excel.OverseasCountryRate">
    insert into yks_overseas_country_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="countryAbbreviation != null">
        country_abbreviation,
      </if>
      <if test="rate != null">
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="countryAbbreviation != null">
        #{countryAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yks.bi.dto.excel.OverseasCountryRate">
    update yks_overseas_country_rate
    <set>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
    </set>
    where country_abbreviation = #{countryAbbreviation,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yks.bi.dto.excel.OverseasCountryRate">
    update yks_overseas_country_rate
    set rate = #{rate,jdbcType=DOUBLE}
    where country_abbreviation = #{countryAbbreviation,jdbcType=VARCHAR}
  </update>
  
</mapper>