<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yks.bi.dao.ConfigPlatformGoalNewMapper" >
  <resultMap id="BaseResultMap" type="com.yks.bi.dto.report.ConfigPlatformGoalNew" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="report_date" property="reportDate" jdbcType="DATE" />
    <result column="report_month" property="reportMonth" jdbcType="VARCHAR" />
    <result column="performance_targets" property="performanceTargets" jdbcType="DOUBLE" />
    <result column="quarterly_performance_targets" property="quarterlyPerformanceTargets" jdbcType="DOUBLE" />
    <result column="sales" property="sales" jdbcType="DOUBLE" />
    <result column="quarterly_sales" property="quarterlySales" jdbcType="DOUBLE" />
    <result column="estimated_sales" property="estimatedSales" jdbcType="DOUBLE" />
    <result column="quarterly_estimated_sales" property="quarterlyEstimatedSales" jdbcType="DOUBLE" />
    <result column="estimated_percentage" property="estimatedPercentage" jdbcType="REAL" />
    <result column="quarterly_estimated_percentage" property="quarterlyEstimatedPercentage" jdbcType="REAL" />
    <result column="target_profit" property="targetProfit" jdbcType="DOUBLE" />
    <result column="actual_profit" property="actualProfit" jdbcType="DOUBLE" />
 <!--    <result column="net_profit_target" property="netProfitTarget" jdbcType="INTEGER" />  被删除了 -->
    <result column="net_profit_completion_rate" property="netProfitCompletionRate" jdbcType="REAL" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, platform, name, report_date, report_month, performance_targets, quarterly_performance_targets, 
    sales, quarterly_sales, estimated_sales, quarterly_estimated_sales, estimated_percentage, 
    quarterly_estimated_percentage, target_profit, actual_profit, net_profit_completion_rate,
    modify_date
  </sql>
  
  <!-- 查询平台
  	configplatformgoal_new表中的platform为匹配被特殊使用，
	 在实际页面报表中的“平台名称”是configplatformgoal_new表中的name，
	 所以这里用name而不是platfrom -->
  <select id="selectPlatform" resultType="String">
  	select distinct name from configplatformgoal_new;
  </select>
  
  <!-- 查询报表 
  	没使用<include refid="Base_Column_List" /> 是因为 
  	前台注释了“季度业绩目标”、“季度销售额”、“季度预计百分比”-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    id, platform, name, report_date, report_month, performance_targets, 
    sales, estimated_sales, estimated_percentage, 
    target_profit, actual_profit, net_profit_completion_rate
    from configplatformgoal_new
    where 1=1
    <if test="month != null and month.length() > 0">
    	and report_month = #{month,jdbcType=VARCHAR}
    </if>
    <if test="platform != null and platform.length() > 0">
      and name = #{platform,jdbcType=VARCHAR}
    </if>
  </select>
  
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from configplatformgoal_new
    where id = #{id,jdbcType=INTEGER}
  </delete> -->
  <insert id="insert" parameterType="com.yks.bi.dto.report.ConfigPlatformGoalNew" >
    insert into configplatformgoal_new (id, platform, name, 
      report_date, report_month, performance_targets, 
      quarterly_performance_targets, sales, quarterly_sales, 
      estimated_sales, quarterly_estimated_sales, 
      estimated_percentage, quarterly_estimated_percentage, 
      target_profit, actual_profit, net_profit_completion_rate,
      modify_date)
    values (#{id,jdbcType=INTEGER}, #{platform,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{reportDate,jdbcType=DATE}, #{reportMonth,jdbcType=VARCHAR}, #{performanceTargets,jdbcType=DOUBLE}, 
      #{quarterlyPerformanceTargets,jdbcType=DOUBLE}, #{sales,jdbcType=DOUBLE}, #{quarterlySales,jdbcType=DOUBLE}, 
      #{estimatedSales,jdbcType=DOUBLE}, #{quarterlyEstimatedSales,jdbcType=DOUBLE}, 
      #{estimatedPercentage,jdbcType=REAL}, #{quarterlyEstimatedPercentage,jdbcType=REAL}, 
      #{targetProfit,jdbcType=DOUBLE}, #{actualProfit,jdbcType=DOUBLE},  
      #{netProfitCompletionRate,jdbcType=DOUBLE}, #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yks.bi.dto.report.ConfigPlatformGoalNew" >
    insert into configplatformgoal_new
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="reportMonth != null" >
        report_month,
      </if>
      <if test="performanceTargets != null" >
        performance_targets,
      </if>
      <if test="quarterlyPerformanceTargets != null" >
        quarterly_performance_targets,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="quarterlySales != null" >
        quarterly_sales,
      </if>
      <if test="estimatedSales != null" >
        estimated_sales,
      </if>
      <if test="quarterlyEstimatedSales != null" >
        quarterly_estimated_sales,
      </if>
      <if test="estimatedPercentage != null" >
        estimated_percentage,
      </if>
      <if test="quarterlyEstimatedPercentage != null" >
        quarterly_estimated_percentage,
      </if>
      <if test="targetProfit != null" >
        target_profit,
      </if>
      <if test="actualProfit != null" >
        actual_profit,
      </if>
      <!-- <if test="netProfitTarget != null" >
        net_profit_target,
      </if> -->
      <if test="netProfitCompletionRate != null" >
        net_profit_completion_rate,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=DATE},
      </if>
      <if test="reportMonth != null" >
        #{reportMonth,jdbcType=VARCHAR},
      </if>
      <if test="performanceTargets != null" >
        #{performanceTargets,jdbcType=DOUBLE},
      </if>
      <if test="quarterlyPerformanceTargets != null" >
        #{quarterlyPerformanceTargets,jdbcType=DOUBLE},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=DOUBLE},
      </if>
      <if test="quarterlySales != null" >
        #{quarterlySales,jdbcType=DOUBLE},
      </if>
      <if test="estimatedSales != null" >
        #{estimatedSales,jdbcType=DOUBLE},
      </if>
      <if test="quarterlyEstimatedSales != null" >
        #{quarterlyEstimatedSales,jdbcType=DOUBLE},
      </if>
      <if test="estimatedPercentage != null" >
        #{estimatedPercentage,jdbcType=REAL},
      </if>
      <if test="quarterlyEstimatedPercentage != null" >
        #{quarterlyEstimatedPercentage,jdbcType=REAL},
      </if>
      <if test="targetProfit != null" >
        #{targetProfit,jdbcType=DOUBLE},
      </if>
      <if test="actualProfit != null" >
        #{actualProfit,jdbcType=DOUBLE},
      </if>
     <!--  <if test="netProfitTarget != null" >
        #{netProfitTarget,jdbcType=INTEGER},
      </if> -->
      <if test="netProfitCompletionRate != null" >
        #{netProfitCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yks.bi.dto.report.ConfigPlatformGoalNew" >
    update configplatformgoal_new
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=DATE},
      </if>
      <if test="performanceTargets != null" >
        performance_targets = #{performanceTargets,jdbcType=DOUBLE},
      </if>
      <if test="quarterlyPerformanceTargets != null" >
        quarterly_performance_targets = #{quarterlyPerformanceTargets,jdbcType=DOUBLE},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=DOUBLE},
      </if>
      <if test="quarterlySales != null" >
        quarterly_sales = #{quarterlySales,jdbcType=DOUBLE},
      </if>
      <if test="estimatedSales != null" >
        estimated_sales = #{estimatedSales,jdbcType=DOUBLE},
      </if>
      <if test="quarterlyEstimatedSales != null" >
        quarterly_estimated_sales = #{quarterlyEstimatedSales,jdbcType=DOUBLE},
      </if>
      <if test="estimatedPercentage != null" >
        estimated_percentage = #{estimatedPercentage,jdbcType=REAL},
      </if>
      <if test="quarterlyEstimatedPercentage != null" >
        quarterly_estimated_percentage = #{quarterlyEstimatedPercentage,jdbcType=REAL},
      </if>
      <if test="targetProfit != null" >
        target_profit = #{targetProfit,jdbcType=DOUBLE},
      </if>
      <if test="actualProfit != null" >
        actual_profit = #{actualProfit,jdbcType=DOUBLE},
      </if>
      <if test="netProfitCompletionRate != null" >
        net_profit_completion_rate = #{netProfitCompletionRate,jdbcType=DOUBLE},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where platform = #{platform,jdbcType=VARCHAR} and report_month = #{reportMonth,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yks.bi.dto.report.ConfigPlatformGoalNew" >
    update configplatformgoal_new
    set platform = #{platform,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      report_date = #{reportDate,jdbcType=DATE},
      report_month = #{reportMonth,jdbcType=VARCHAR},
      performance_targets = #{performanceTargets,jdbcType=DOUBLE},
      quarterly_performance_targets = #{quarterlyPerformanceTargets,jdbcType=DOUBLE},
      sales = #{sales,jdbcType=DOUBLE},
      quarterly_sales = #{quarterlySales,jdbcType=DOUBLE},
      estimated_sales = #{estimatedSales,jdbcType=DOUBLE},
      quarterly_estimated_sales = #{quarterlyEstimatedSales,jdbcType=DOUBLE},
      estimated_percentage = #{estimatedPercentage,jdbcType=REAL},
      quarterly_estimated_percentage = #{quarterlyEstimatedPercentage,jdbcType=REAL},
      target_profit = #{targetProfit,jdbcType=DOUBLE},
      actual_profit = #{actualProfit,jdbcType=DOUBLE},
     <!--  net_profit_target = #{netProfitTarget,jdbcType=INTEGER}, -->
      net_profit_completion_rate = #{netProfitCompletionRate,jdbcType=DOUBLE},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>