<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yks.bi.dao.DailyOutAccountReprotsMapper">
	<resultMap id="BaseResultMap" type="com.yks.bi.dto.report.DailyOutAccountReprots">
	<result column="platform" property="platform" jdbcType="VARCHAR" />
	<result column="sales_account" property="salesAccount" jdbcType="VARCHAR" />
	<result column="manager" property="manager" jdbcType="VARCHAR" />
	<result column="report_date" property="reportDate" jdbcType="DATE" />
	<result column="order_num" property="orderNum" jdbcType="INTEGER" />
	<result column="unit_price" property="unitPrice" jdbcType="REAL" />
	<result column="product_total_cny" property="productTotalCny" jdbcType="REAL" />
	<result column="product_refund" property="productRefund" jdbcType="INTEGER" />
	<result column="order_price" property="orderPrice" jdbcType="INTEGER" />
	<result column="gross_profit" property="grossProfit" jdbcType="INTEGER" />
	<result column="product_shipping" property="productShipping" jdbcType="INTEGER" />
	<result column="platform_cost" property="platformCost" jdbcType="INTEGER" />
	<result column="material_cost" property="materialCost" jdbcType="INTEGER" />
	<result column="order_execution_fee" property="orderExecutionFee" jdbcType="INTEGER" />
	<result column="profit_margin" property="profitMargin" jdbcType="INTEGER" />
	<result column="operating_cost" property="operatingCost" jdbcType="INTEGER" />
	<result column="net_Profit" property="netProfit" jdbcType="INTEGER" />
	<result column="profit" property="profit" jdbcType="INTEGER" />
	<result column="category" property="category" jdbcType="VARCHAR" />	
	</resultMap>
	
	<sql id="Base_Column_List">
		`platform`, `sales_account`, `manager`, `report_date`, `order_num`, `unit_price`, 
		`product_total_cny`, `product_refund`, `order_price`, `gross_profit`, `product_shipping`, 
		`platform_cost`, `material_cost`, `order_execution_fee`, `operating_cost`, `profit_margin`, `net_Profit`, 
		`profit`, `category`
	</sql>
	
	<!-- 查询表中所有的平台 -->
	<select id="selectPlatforms" resultType="java.lang.String" >
		SELECT platform 
		FROM `dailyoutaccountreprots` 
		GROUP BY platform
	</select>
	
	<!-- 查询表中所有的账号 (在页面中与账号有级联功能)-->
	<select id="selectSalesAccounts" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT sales_account 
		FROM `dailyoutaccountreprots` 
		WHERE 1=1
		<if test="platform != null and platform.length() > 0">
			AND platform = #{platform,jdbcType=VARCHAR}
		</if>
		GROUP BY sales_account
	</select>
	
	
	<!-- 查询表中所有的分类-->
	<select id="selectCategorys" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT category 
		FROM `dailyoutaccountreprots`
		WHERE 1=1
		<if test="platform != null and platform.length() > 0">
			AND platform = #{platform,jdbcType=VARCHAR}
		</if>
		GROUP BY category
	</select>
	
	<!-- 查询dailyoutaccountreprots表中的所有数据 -->
	<select id="selectAllByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.yks.bi.dto.report.DailyOutAccountReprotsKey">
		SELECT 
		<include refid="Base_Column_List" />
		FROM `dailyoutaccountreprots` 
		WHERE 1=1
		<if test="startDate != null and startDate.length() > 0">
			and report_date >= #{startDate}
		</if>
		<if test="endDate != null and endDate.length() > 0">
       		<![CDATA[and report_date <= #{endDate}]]>
		</if>
		<if test="platform != null and platform.length() > 0">
			and platform = #{platform,jdbcType=VARCHAR}
		</if>
		<if test="category != null and category.length() > 0">
			and category = #{category,jdbcType=VARCHAR}
		</if>
		<if test="salesAccount != null and salesAccount.length() > 0">
			and sales_account = #{salesAccount,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- 暂时用来查询smt的品类和按品类和时间段汇总的税后综合净利-->
	<select id="selectProfitSum" resultMap="BaseResultMap"
		parameterType="com.yks.bi.dto.report.DailyOutAccountReprotsKey">
		SELECT a.category, SUM(a.profit)/b.currency_value profit
		FROM `dailyoutaccountreprots` a, `configcurrency` b
		WHERE b.currency='USD'
		<if test="startDate != null and startDate.length() > 0">
			AND a.report_date >= #{startDate,jdbcType=DATE}
		</if>
		<if test="endDate != null and endDate.length() > 0">
       		<![CDATA[AND a.report_date <= #{endDate,jdbcType=DATE}]]>
		</if>
		<if test="platform != null and platform.length() > 0">
			and platform = #{platform,jdbcType=VARCHAR}
		</if>
		<if test="category != null and category.length() > 0">
			AND a.category = #{category,jdbcType=VARCHAR}
		</if>
		GROUP BY a.category
		ORDER By SUM(a.profit) DESC
	</select>

	<!-- 查询表中新平台的平台 -->
	<select id="selectNewPlatforms" resultType="java.lang.String" >
		select platform 
		from `dailyoutaccountreprots` 
		where platform like 'new\_%' and platform != 'new_newegg'
		group by platform
	</select>
	
	<!-- 查询表中新平台的账号 (在页面中与账号有级联功能)-->
	<select id="selectNewPlatformSalesAccounts" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT sales_account 
		FROM `dailyoutaccountreprots` 
		WHERE platform like 'new\_%' and platform != 'new_newegg'
		<if test="platform != null and platform.length() > 0">
			AND platform = #{platform,jdbcType=VARCHAR}
		</if>
		GROUP BY sales_account
	</select>
	
	<!-- 查询dailyoutaccountreprots表中的新平台所有数据 -->
	<select id="selectNewPlatformAllByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.yks.bi.dto.report.DailyOutAccountReprotsKey">
		SELECT 
		<include refid="Base_Column_List" />
		FROM `dailyoutaccountreprots` 
		WHERE platform like 'new\_%' 
			and platform != 'new_newegg'
		<if test="startDate != null and startDate.length() > 0">
			and report_date >= #{startDate}
		</if>
		<if test="endDate != null and endDate.length() > 0">
       		<![CDATA[and report_date <= #{endDate}]]>
		</if>
		<if test="platform != null and platform.length() > 0">
			and platform = #{platform,jdbcType=VARCHAR}
		</if>
		<if test="salesAccount != null and salesAccount.length() > 0">
			and sales_account = #{salesAccount,jdbcType=VARCHAR}
		</if>
	</select>
	
	<!-- 查询表中新蛋的账号 (在页面中与账号有级联功能)-->
	<select id="selectNewEggSalesAccounts" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT sales_account 
		FROM `dailyoutaccountreprots` 
		WHERE 1=1
		<choose>
			<when test="platform != null and platform.length() > 0">
				AND platform = #{platform,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND (platform like '%overstock' 
					OR platform = 'new_newegg'
					OR platform = 'tophatter')
			</otherwise>
		</choose>
		GROUP BY sales_account
	</select>
	
	<!-- 查询dailyoutaccountreprots表中的新蛋所有数据 -->
	<select id="selectNewEggAllByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.yks.bi.dto.report.DailyOutAccountReprotsKey">
		SELECT 
		<include refid="Base_Column_List" />
		FROM `dailyoutaccountreprots` 
		WHERE 1=1
		<choose>
			<when test="platform != null and platform.length() > 0">
				AND platform = #{platform,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND (platform like '%overstock' 
					OR platform = 'new_newegg'
					OR platform = 'tophatter')
			</otherwise>
		</choose>
		<if test="startDate != null and startDate.length() > 0">
			AND report_date >= #{startDate}
		</if>
		<if test="endDate != null and endDate.length() > 0">
       		<![CDATA[AND report_date <= #{endDate}]]>
		</if>
		<if test="salesAccount != null and salesAccount.length() > 0">
			AND sales_account = #{salesAccount,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>