<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yks.bi.dao.DailyOutSkuReprots_overseaMapper">
	<resultMap id="BaseResultMap" type="com.yks.bi.dto.report.DailyOutSkuReprots_oversea">
		<id column="erp_orders_id" property="erpOrdersId" jdbcType="BIGINT" />
		<id column="platform" property="platform" jdbcType="VARCHAR" />
		<id column="sales_account" property="salesAccount" jdbcType="VARCHAR" />
		<id column="sku" property="sku" jdbcType="VARCHAR" />
		<id column="report_date" property="reportDate" jdbcType="DATE" />
		<result column="sku_cnname" property="skuCnname" jdbcType="VARCHAR" />
		<result column="warehousename" property="warehouseName" jdbcType="VARCHAR" />
		<result column="manager" property="manager" jdbcType="VARCHAR" />
		<result column="order_num" property="orderNum" jdbcType="INTEGER" />
		<result column="item_num" property="itemNum" jdbcType="INTEGER" />
		<result column="product_total_cny" property="productTotalCny" jdbcType="DOUBLE" />
		<result column="product_refund" property="productRefund" jdbcType="DOUBLE" />
		<result column="order_price" property="orderPrice" jdbcType="DOUBLE" />
		<result column="order_headfee" property="orderHeadfee" jdbcType="DOUBLE" />
		<result column="gross_profit" property="grossProfit" jdbcType="DOUBLE" />
		<result column="product_shipping" property="productShipping" jdbcType="DOUBLE" />
		<result column="platform_cost" property="platformCost" jdbcType="DOUBLE" />
		<result column="material_cost" property="materialCost" jdbcType="DOUBLE" />
		<result column="order_execution_fee" property="orderExecutionFee" jdbcType="DOUBLE" />
		<result column="operating_cost" property="operatingCost" jdbcType="DOUBLE" />
		<result column="profit_margin" property="profitMargin" jdbcType="DOUBLE" />
		<result column="profit" property="profit" jdbcType="DOUBLE" />
		<result column="net_Profit" property="netProfit" jdbcType="DOUBLE" />
		<result column="net_profit_margin" property="netProfitMargin" jdbcType="DOUBLE" />
		<result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
		<result column="warehousetype" property="warehouseType" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		`erp_orders_id`, `platform`, `sales_account`, `sku`, `sku_cnname`, `report_date`, `warehousetype`, `manager`, `warehousename`,
		`order_num`, `item_num`, `product_total_cny`, `product_refund`, `order_price`, `order_headfee`,
		`gross_profit`, `product_shipping`, `platform_cost`, `material_cost`, `order_execution_fee`,
		`operating_cost`, `profit_margin`, `profit`, `net_Profit`, `net_profit_margin`, `buyer_id`
	</sql>

	<!-- 查询`dailyoutaccountreprots_oversea`表中的所有数据 -->
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="com.yks.bi.dto.report.DailyOutSkuReprots_overseaKey">
		SELECT
		<include refid="Base_Column_List" />
		FROM `dailyoutskureprots_oversea`
		WHERE 1=1
		<if test="startDate != null and startDate.length() > 0">
			and report_date >= #{startDate}
		</if>
		<if test="endDate != null and endDate.length() > 0">
       		<![CDATA[and report_date <= #{endDate}]]>
		</if>
		<if test="platform != null and platform.length() > 0">
			and platform = #{platform,jdbcType=VARCHAR}
		</if>
		<if test="erpOrdersId != null and erpOrdersId >= 0">
			and erp_orders_id = #{erpOrdersId,jdbcType=BIGINT}
		</if>
		<if test="salesAccount != null and salesAccount.length() > 0">
			and sales_account = #{salesAccount,jdbcType=VARCHAR}
		</if>
		<if test="warehouseName != null and warehouseName.length() > 0">
			and warehousename = #{warehouseName,jdbcType=VARCHAR}
		</if>
		<if test="warehouseType != null and warehouseType.length() > 0">
			and warehousetype = #{warehouseType,jdbcType=VARCHAR}
		</if>
		<if test="sku != null and sku.length() > 0">
    		AND sku in (${sku})
   		</if>
	</select>

	<!-- 查询表中各平台的平台 -->
	<select id="selectPlatforms" resultType="java.lang.String" >
		SELECT platform 
		FROM `dailyoutskureprots_oversea` 
		GROUP BY platform
	</select>

	<!-- 查询表中各平台的账号 -->
	<select id="selectSalesAccounts" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT sales_account 
		FROM `dailyoutskureprots_oversea` 
		WHERE 1=1
		<if test="platform != null and platform.length() > 0">
			AND platform = #{platform,jdbcType=VARCHAR}
		</if>
		GROUP BY sales_account
	</select>

	<!-- 查询表中各平台的仓库类型 -->
	<select id="selectWarehouseTypes" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT warehousetype 
		FROM `dailyoutskureprots_oversea` 
		WHERE 1=1
		<if test="platform != null and platform.length() > 0">
			AND platform = #{platform,jdbcType=VARCHAR}
		</if>
		GROUP BY warehousetype
	</select>

	<!-- 查询表中各平台的原仓库类型可与仓库类型级联 -->
	<select id="selectWarehouseNames" resultType="java.lang.String"
		parameterType="com.yks.bi.dto.report.Dailyoutaccountreprots_overseaKey">
		SELECT warehousename 
		FROM `dailyoutskureprots_oversea` 
		WHERE 1=1
		<if test="platform != null and platform.length() > 0">
			AND platform = #{platform,jdbcType=VARCHAR}
		</if>
		<if test="warehouseType != null and warehouseType.length() > 0">
			AND warehousetype = #{warehouseType,jdbcType=VARCHAR}
		</if>
		GROUP BY warehousename
	</select>

</mapper>